<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>
      <%- include("./hero.ejs") %>
        <%- include("./partials/blog.ejs") %>
          <%- include("./partials/footer.ejs") %>
  </body>

</html>